// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// The app's display name. This value is used as the `CFBundleName` in the `Info.plist`.
XCC_BUNDLE_NAME = Demo S
// Filepath to the config file to copy to the bundle resource.
XCC_CONFIG_PATH = Staging/Config.plist
