<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<string>Staging</string>
	<key>backendUrl</key>
	<string>https://suggestqueries.google.com/</string>
	<key>testFlags</key>
	<dict>
		<key>resetData</key>
		<true/>
		<key>noSplash</key>
		<true/>
		<key>applyTestData</key>
		<false/>
	</dict>
</dict>
</plist>
